@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}
.active {
  background-color: rgb(76, 136, 247);
  padding: 2px;
  border-radius: 10px;
}
